
.imageGridMenuImageContainer {
  margin: 10px;
  display: inline-block;
}

.imageGridMenuImage {
  border-radius: 5px;
  filter: brightness(0.7);
}

.imageGridMenuImageSelected, .imageGridMenuImage:hover {
  border: 2px solid rgb(0 149 255);
  border-radius: 5px;
  filter: brightness(1);
}
